/* MEYERWEB CSS RESET v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END MEYERWEB CSS RESET */

* {
	margin: 0;
}

html, body {
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
	padding: 0;
}

h1 {
	font-size: 200%;
	font-weight: bold;
	margin: 10px 0;
}

h2 {
	font-size: 150%;
	font-weight: bold;
	margin: 10px 0;
}

h3 {
	font-size: 115%;
	font-weight: bold;
	font-style: italic;
	border-bottom: 1px solid #eee;
	margin: 20px 0 10px;
}

p {
	margin: 5px 10px;
}

#page-wrapper {
	width: 100%;
	min-width: 960px;
	padding: 0;
	margin: 0;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0;
	overflow: auto;
	background-image: url('/static/img/hamster.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right bottom;
}

#page-header {
	border-bottom: 1px solid #eee;
}

#page-header h1 {
	margin: 5px 10px;
}

#page-menubar {
	margin: 5px;
}

#page-menubar li {
	display: inline;
}

#page-menubar li > a {
	display: inline-block;
	margin-right: 2px;
	padding: 2px 4px;
	background: #f8f8f8;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	text-decoration: none;
	color: #333;
	font-size: 90%;
}

#page-menubar li > a:hover {
	background: #eee;
	cursor: pointer;
}

#page-content {
	clear: both;
	margin: 3px;
	padding: 5px;
}

p.error {
	background: #fee;
	border: 1px solid #d44;
	padding: 5px;
	margin: 5px;
}

p.info {
	background: #f8f0dd;
	border: 1px solid #dd4;
	padding: 5px;
	margin: 5px;
}

p.smalltext {
	font-size: 75%;
}

dl {
	margin-left: 10px;
}

dd dl {
	margin-left: 20px;
}

dt {
	margin-top: 10px;
	margin-bottom: 10px;
}

dd {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
}

#site-login-form label,
#site-login-form input {
	display: block;
	margin: 10px;
}

ul#requests > li,
ul#pushes > li {
	margin: 5px 10px;
	padding: 10px;
	background: #f8f8f8;
	border: 1px solid #eee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	background-image: url("/static/img/hamster.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;
}

ul#requests .request-endcap,
ul#pushes .push-endcap {
	height: 100%;
	background: #eef;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 20px;
	text-align: center;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

ul#requests .request-contents,
ul#pushes .push-contents {
	height: 100%;
	position: relative;
	margin-left: 20px;
}

ul#requests .request-header,
ul#pushes .push-header {
	padding: 3px;
	margin-bottom: 5px;
	font-weight: bold;
	vertical-align: middle;
	color: #33a;
}

ul#requests .request-header a,
ul#pushes .push-header a {
	text-decoration: none;
	color: #00f;
}

ul.request-info > li,
ul.push-info > li {
	display: inline-block;
	margin: 3px 5px;
}

ul.request-info.inline > li {
}

ul.request-info span.omitted,
ul.push-info span.omitted {
	display: inline-block;
	padding: 3px 4px 3px 4px;
	background: #f00;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}

ul.request-info span.label,
ul.push-info span.label {
	display: inline-block;
	padding: 3px 4px 2px 4px;
	background: #e8e8e8;
	color: #000;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

ul.request-info.inline span.label {
	display: none;
}

ul.request-info span.value,
ul.push-info span.value {
	display: inline-block;
	padding: 3px 4px 2px 4px;
	background: #fff;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	font-weight: bold;
}

ul.request-info span.value.request-user {
	font-weight: bold;
}

ul.request-info.inline span.value {
	background: transparent;
	font-weight: bold;
}

ul.request-info span.value a,
ul.push-info span.value a {
	text-decoration: none;
	color: #00f;
}

ul.request-info > li.push-item-title {
	display: inline-block;
	padding: 3px 4px 2px;
	margin: 0;
	color: #33a;
}

.push-items-section .push-item-title {
	cursor: pointer;
}

.mine ul.request-info > li.push-item-title {
	color: #000;
}

button.push-item-expander {
	padding: 3px 4px 2px;
	margin: 0;
}

img.push-item-expander {
	vertical-align: text-bottom;
	cursor: pointer;
	border: 0;
}

ul.push-items {
	margin-top: 15px;
}

ul.push-items > li {
	padding-left: 3px;
}

ul.push-items > li.mine {
	background: #ddf;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.push-item-extended {
	border-left: 1px solid #333;
	background: #eef;
	margin: 0 0 10px 40px;
	padding: 5px;
	-moz-border-radius: 0 5px 5px 0px;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	display: none;
}

ul.inline  {
	display: inline-block;
}

ul.tags {
	display: inline;
}

span.value.request-tags {
	padding: 0 !important;
}

ul.tags li {
	display: inline-block;
	padding: 3px 4px 2px 4px;
	font-weight: bold;
}

ul.tags li:first-child {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

ul.tags li:last-child {
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

ul.tags li:first-child:last-child {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul#requests .request-module {
	margin-left: 20px;
}

ul#requests .request-comments,
ul.request-info .request-comments,
ul#requests .request-description,
ul.request-info .request-description {
	padding: 5px;
	font-family: monospace;
	border: 1px solid #eee;
	margin-top: 5px;
	background: #fff;
}

ul#requests .request-contents .request-comments {
	display: none;
}

ul#requests .request-endcap.state-requested { background: #ddf; }
ul#requests .request-endcap.state-delayed { background: #fc8; }
ul#requests .request-endcap.state-added { background: #dee; }
ul#requests .request-endcap.state-discarded { background: #fdd; }
ul#requests .request-endcap.state-live { background: #dfd; }

ul#pushes .request-comments {
	margin: 5px;
	font-family: monospace;
}

ul#pushes .push-items {
	display: none;
	margin-left: 15px;
}

ul#action-buttons > li {
	display: inline-block;
}

div#form-anchor {
	position: relative;
	height: 0;
	margin: 0;
	padding: 0;
}

form.popup-form {
	display: none;
	height: 0;
	margin: 0;
	padding: 0;
}

form.popup-form div.form-wrapper {
	border: 3px solid #444;
	margin: auto;
	width: 430px;
	padding: 0 0 10px 0;
	position: relative;
	z-index: 1;
	background: #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

form.popup-form label,
form.popup-form input,
form.popup-form textarea,
form.popup-form select,
form.popup-form h2,
form.popup-form p {
	display: block;
	width: 400px;
	margin: auto;
}

form.popup-form input,
form.popup-form textarea,
form.popup-form h2,
form.popup-form p {
	margin-bottom: 10px;
}

form.popup-form textarea {
	height: 100px;
}

form.popup-form div.buttons {
	margin: auto;
	width: 400px;
	text-align: center;
}

form.popup-form input[type="submit"],
form.popup-form input[type="reset"] {
	width: 160px;
	margin: 10px;
	display: inline-block;
}

form.popup-form h2 {
	background: #ddd;
	width: auto;
	padding: 10px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

p#announce {
	border: 1px solid #ea8;
	padding: 5px;
	margin: 5px;
	background: #fed;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul#action-buttons {
	border: 1px solid #aaa;
	padding: 5px;
	margin: 5px 5px 10px;
	background: #eef;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul#pushes .push-endcap.accepting { background: #ddf; }
ul#pushes .push-endcap.discarded { background: #fdd; }
ul#pushes .push-endcap.live { background: #dfd; }

ul.push-items-section {
	margin: 5px;
	padding: 5px;
}

ul.push-info.standalone {
	margin: 5px;
	background: #f8f8f8;
	padding: 5px;
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul.user-list {
	margin: 5px;
}

ul.user-list li {
	margin: 3px;
	font-weight: bold;
}

ul.user-list li .letter-header {
	display: inline-block;
	width: 40px;
	margin-right: 10px;
	background: #eef;
	font-size: 20px;
	text-align: center;
}

ul.user-list li a {
	text-decoration: none;
	color: #33a;
}

ul.user-list li ul {
	display: inline;
}

ul.user-list li li {
	display: inline-block;
}

.remove-request,
.add-request,
.verify-request,
.pushmaster-delay-request,
.unpickme-request,
.pickme-request {
	display: none;
}

#requested-items .add-request,
#requested-items .mine .pickme-request,
#requested-items .pushmaster-delay-request,
#pickme-items .add-request,
#pickme-items .pushmaster-delay-request,
#pickme-items .mine .unpickme-request,
#added-items .remove-request,
#staged-items .remove-request,
#staged-items .verify-request,
#verified-items .remove-request,
#blessed-items .remove-request {
	display: inline;
}


#run-a-command {
	text-align: center;
	padding: 10px;
}

#command-to-run {
	margin: 10px;
}

#run-a-command .mininote {
	font-size: 50%;
}

#run-a-command .directions {
	font-size: 90%;
}

#send-message-prompt,
#comment-on-request {
	position: relative;
}

#send-message-prompt .directions,
#comment-on-request .directions {
	position: absolute;
	bottom: 5px;
	left: 10px;
	right: 10px;
	text-align: center;
}

#send-message-contents,
#comment-on-request #comment-input-area {
	position: absolute;
	bottom: 50px;
	left: 10px;
	right: 10px;
	top: 10px;
}

#check-in-requests .directions {
	font-size: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#check-in-requests #requests-to-check-in li {
	margin: 3px;
	font-size: 90%;
	font-family: monospace;
}

#push-checklist h4 {
	margin-top: 10px;
}

#push-checklist li {
	margin: 10px 3px;
	font-size: 90%;
}

.command {
	font-family: monospace;
	border: 1px solid #888;
	background: #f8f8f8;
	color: #000;
	padding: 5px 5px 5px 15px;
	text-indent: -10px;
}

.dialog-note {
	font-size: 60%;
}

ul.todo {
	margin: 10px;
}

ul.todo li {
	background: #eee;
	margin: 10px;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #666;
}

ul.todo li strong, ul.todo li em {
	color: #000;
}

.request-count {
	font-weight: bold;
	font-size: 90%;
	line-height: 16px;
	vertical-align: middle;
	display: inline-block;
}

#tag-suggest {
	font-size: 80%;
}

.tag-suggestion {
	color: #00f;
	cursor: pointer;
}

ul.tags li.tag-buildbot a {
	color: inherit;
	text-decoration: none;
}

ul.tags > li	{ background: #eee; }
ul.tags > .tag-urgent		{ background: #fcc; }
ul.tags > .tag-special	{ background: #fcf; }
ul.tags > .tag-caches		{ background: #ff8; }
ul.tags > .tag-buildbot	{ background: #de9; }
ul.tags > .tag-plans		{ background: #ccf; }
ul.tags > .tag-pushplans	{ background: #ccf; }
ul.tags > .tag-git-ok		{ background: #fec; }
ul.tags > .tag-git-error	{ background: #f00; }
ul.tags > .tag-accepting	{ background: #ddf; }
ul.tags > .tag-live		{ background: #dfd; }
ul.tags > .tag-search-backend { background: #dcc; }
ul.tags > .tag-experiment { background: #6dd; }
ul.tags > .tag-l10n { background: #ccc; }
ul.tags > .tag-l10n-only { background: #f90; }
ul.tags > .tag-hoods { background: #f9a; }
ul.tags > .tag-feature { background: #000; color: #fff; }
ul.tags > .tag-fix { background: #000; color: #fff; }
ul.tags > .tag-cleanup { background: #000; color: #fff; }
.tag-discarded	{ background: #fdd; }
