<form id="push-info-form" class="popup-form" action="/newpush" method="POST">
<div class="form-wrapper">

	<h2>New Push</h2>

	<label for="push-title">Title</label>
	<input name="push-title" id="push-title" />

	<label for="push-branch">Branch</label>
	<input name="push-branch" id="push-branch" value="deploy-branch-with-descriptive-name" />

	<label for="push-type">Push Type</label>
	<select name="push-type" id="push-type">
		<option selected="selected" value="regular">Regular</option>
		<option value="urgent">Urgent (P0-only)</option>
		<option value="morning">Morning (Use 'Regular' if it's already morning)</option>
		<option value="private">Private (By invitation only)</option>
	</select>

	<div class="buttons">
		<input type="submit" id="push-create" name="push-submit" value="Create Push" />
		<input type="reset" id="push-cancel" name="push-cancel" value="Cancel" />
	</div>
</div>
</form>
