<div id="dialog-prototypes" style="display: none;">
<!-- "Run a command" dialog -->
	<div id="run-a-command">
		<textarea id="command-to-run" cols="50" readonly>&nbsp;</textarea>
		<p class="directions">
			Wait for it to complete, then
			<button id="command-done">Continue</button>
		</p>
		<p class="mininote">
			(If it fails, click the X or press Esc.)
		</p>
	</div>
<!-- "Comment on a request" dialog -->
	<div id="comment-on-request">
		<textarea id="comment-input-area"></textarea>
		<p class="directions">
			Enter your comment here, then
			<button id="submit-request-comment">Submit</button>
		</p>
	</div>
<!-- "Check in multiple requests" dialog -->
	<div id="merge-requests">
		<div class="command" id="merge-branches-command">&nbsp;</div>
		<p class="dialog-note">(Triple-click above to easily select the entire command for copying.)</p>
		<p class="directions">
			Once the command completes, click <button id="done-merging">here</button>
		</p>
	</div>
<!-- Push checklist dialog -->
	<div id="push-checklist">
		<h4>Before Staging</h4>
		<ul id="checklist-before-staging">
			<li><input type="checkbox" /> Foo</li>
			<li><input type="checkbox" /> Foo</li>
		</ul>
		<h4>Before Blessing</h4>
		<ul id="checklist-before-blessing">
			<li><input type="checkbox" /> Foo</li>
			<li><input type="checkbox" /> Foo</li>
		</ul>
		<h4>After Live</h4>
		<ul id="checklist-after-live">
			<li><input type="checkbox" /> Foo</li>
			<li><input type="checkbox" /> Foo</li>
		</ul>
	</div>
<!-- Messaging dialog -->
	<div id="send-message-prompt">
		<input id="send-message-contents" />
		<p class="directions">
			Enter the message you wish to send here, then
			<button id="send-message">Send</button>
		</p>
	</div>
<!-- Push survey dialog -->
	<div id="push-survey">
		<p class="directions">
			Please fill out this <button id="go-survey">quick survey.</button>
<!-- Stage Environment dialog -->
	<div id="set-stageenv-prompt">
		<input id="set-stageenv-contents" />
		<p class="directions">
			Enter the stage environment for this push, then
			<button id="set-stageenv">Continue</button>
		</p>
	</div>
</div>
