div.request-module {
	display: inline;
}

.request-module img.request-item-expander {
	vertical-align: text-bottom;
	cursor: pointer;
	border: 0;
}

.request-module span.omitted {
	display: inline-block;
	background: #f00;
	color: #fff;
	font-weight: bold;
	padding: 3px 4px 3px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.request-module span.label {
	display: inline-block;
	background: #e8e8e8;
	color: #000;
	padding: 3px 4px 2px 4px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.request-module span.value {
	display: inline-block;
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 3px 4px 2px 4px;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.request-module ul.request-info-inline {
	display: inline-block;
}

.request-module ul.request-info-inline li {
	display: inline-block;
}

.request-module .request-info-inline span.value {
	background: transparent;
}

.request-module .request-extended-fields {
	display: inline-block;
}

.request-module .request-extended-fields li {
	display: inline;
	margin: 3px 5px;
}

.request-module a {
	text-decoration: none;
	color: #00f;
}

.request-module ul.tags a {
	color: inherit;
}

.request-module .request-item-title {
	display: inline-block;
	padding: 3px 4px 2px;
	margin: 0;
	color: #33a;
	cursor: pointer;
}

.request-module .request-info-extended {
	display: none;
	border-left: 1px solid #333;
	background: #eef;
	color: #000;
	margin: 0 0 10px 40px;
	padding: 5px;
	-moz-border-radius: 0 5px 5px 0px;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.request-module .request-info-extended .request-revision,
.request-module .request-info-extended .request-comments {
	background: #fff;
	color: #000;
	font-family: monospace;
	border: 1px solid #eee;
	padding: 5px;
	margin-top: 5px;
	display: block;
}

.request-conflicts {
	background: #EE4048;
	color: #000;
	font-family: monospace;
	border: 1px solid #eee;
	padding: 5px;
	margin-top: 5px;
	display: block;
}

.request-module span.timeago {
	color: #888;
}
