{% if push_buttons %}
<span class="push-request-buttons">

	{% if pushmaster %}
	<input type="checkbox" class="request-multi-select" />
	<button class="add-request">Add</button>
	<button class="remove-request">Remove</button>
	<button class="comment-request">Comment</button>
	<button class="pushmaster-delay-request">Delay</button>
	{% end %}

	{% if authorized_to_manage_request(request, current_user, pushmaster) %}
	<button class="verify-request">Verify</button>
	<button class="pickme-request">Pick me!</button>
	<button class="unpickme-request">Don't pick me!</button>
	{% end %}
</span>
{% elif edit_buttons %}
<span class="edit-request-buttons">
	<button class="edit-request">Edit</button>
	{% if request['user'] == current_user %}

		{% if request['state'] == 'requested' %}
		<button class="delay-request">Delay</button>
		{% elif request['state'] == 'delayed' %}
		<button class="undelay-request">Un-Delay</button>
		{% end %}

		{% if request['state'] in ('requested', 'delayed') %}
		<button class="discard-request">Discard</button>
		{% end %}

	{% end %}
</span>
{% end %}
