{% extends "base.html" %}

{% block page_name %}{{ escape(push_info['user']) }} \ {{ escape(push_info['title']) }}{% end %}

{% block content %}
<div id="form-anchor">&nbsp;
	{% include 'edit-push.html' %}
</div>
<!-- ========= PUSH INFO ========== -->
{% include 'push-info.html' %}
<!-- ========= BUTTON BAR ========== -->
<ul id="action-buttons">
	<li><button id="expand-all-requests">Expand All</button></li>
	<li><button id="collapse-all-requests">Collapse All</button></li>
	&mdash;
	{% if current_user in (push_info['extra_pings'] or []) %}
	<li><button id="ping-me" action="unset">Don't Ping Me</button></li>
	{% else %}
	<li><button id="ping-me" action="set">Ping Me</button></li>
	{% end %}
	{% if push_info['user'] == current_user or override %}
		&mdash;
		<li><button id="edit-push">Edit Push</button></li>
		{% if push_info['state'] == 'accepting' %}
		<li><button id="discard-push">Discard Push</button></li>
		&mdash;
		<li><button id="add-selected-requests">Add Selected</button></li>
		<li><button id="remove-selected-requests">Remove Selected</button></li>
		<li><button id="rebuild-deploy-branch">Rebuild Deploy Branch</button></li>
		&mdash;
		<li><button id="deploy-to-stage">Added &rarr; Stage</button></li>
		<li><button id="deploy-to-prod">Stage &rarr; Prod</button></li>
		<li><button id="merge-to-master">Prod &rarr; master</button></li>
		&mdash;
		<li><button id="message-all">Message All</button></li>
		<li><button id="show-checklist">Push Checklist</button></li>
		{% end %}
	{% else %}
		{% if push_info['state'] == 'accepting' %}
		&mdash; <li><button id="edit-push">Takeover Push</button></li>
		{% end %}
	{% end %}
</ul>

{% include 'push-status.html' %}

<div id="dialog-prototypes" style="display: none;">
<!-- "Run a command" dialog -->
	<div id="run-a-command">
		<pre id="command-to-run">&nbsp;</pre>
		<p class="directions">
			Wait for it to complete, then
			<button id="command-done">Continue</button>
		</p>
		<p class="mininote">
			(If it fails, click the X or press Esc.)
		</p>
	</div>
<!-- "Comment on a request" dialog -->
	<div id="comment-on-request">
		<textarea id="comment-input-area"></textarea>
		<p class="directions">
			Enter your comment here, then
			<button id="submit-request-comment">Submit</button>
		</p>
	</div>
<!-- "Check in multiple requests" dialog -->
	<div id="merge-requests">
		<div class="command" id="merge-branches-command">&nbsp;</div>
		<p class="dialog-note">(Triple-click above to easily select the entire command for copying.)</p>
		<p class="directions">
			Once the command completes, click <button id="done-merging">here</button>
		</p>
	</div>
<!-- Push checklist dialog -->
	<div id="push-checklist">
		<h4>Before Staging</h4>
		<ul id="checklist-before-staging">
			<li><input type="checkbox" /> Foo</li>
			<li><input type="checkbox" /> Foo</li>
		</ul>
		<h4>Before Blessing</h4>
		<ul id="checklist-before-blessing">
			<li><input type="checkbox" /> Foo</li>
			<li><input type="checkbox" /> Foo</li>
		</ul>
		<h4>After Live</h4>
		<ul id="checklist-after-live">
			<li><input type="checkbox" /> Foo</li>
			<li><input type="checkbox" /> Foo</li>
		</ul>
	</div>
<!-- Messaging dialog -->
	<div id="send-message-prompt">
		<input id="send-message-contents" />
		<p class="directions">
			Enter the message you wish to send here, then
			<button id="send-message">Send</button>
		</p>
	</div>
</div>
{% end %}

{% block scripts %}
<script type="text/javascript" src="{{ static_url('js/push.js') }}"></script>
{% end %}
