<button id="create-new-request">New Request</button><div id="create-new-request-dialog" style="display: none;">
<!-- BEGIN 'NEW PUSH REQUEST' DIALOG -->
<form id="request-info-form" action="/newrequest" method="POST">
<fieldset>

	<label for="request-form-title">Title</label>
	<input name="request-title" id="request-form-title" />

	<label for="request-form-tags">Tags</label>
	<input name="request-tags" id="request-form-tags" />

	<p id="tag-suggest">
		Quick Tags:
		<span class="tag-suggestion" title="A significant part of this push request involves new functionality.">feature</span>
		<span class="tag-suggestion" title="A significant part of this push request involves fixing existing functionality.">fix</span>
		<span class="tag-suggestion" title="A significant part of this push request involves removing old code.">cleanup</span>
		<span class="tag-suggestion" title="This push request does not require manual verification">no-verify</span>
		&mdash;
		<span class="tag-suggestion" title="This push request's branch has been tested on Buildbot.">buildbot</span>
		<span class="tag-suggestion" title="This push request invalidates one or more caches.">caches</span>
		<span class="tag-suggestion" title="This push request involves push plans.">pushplans</span>
		<span class="tag-suggestion" title="This push request needs special handling - the pushmaster should talk to the requestor before pushing it.">special</span>
		<span class="tag-suggestion" title="This push request is urgent (p0).">urgent</span>
		<span class="tag-suggestion" title="This push request contains submodule bump(s).">submodule-bump</span>
		<span class="tag-suggestion" title="This push request is just for pushing YelpHoods data.">hoods</span>
		<span class="tag-suggestion" title="This push request can only be pushed through stagea.">stagea</span>
		<span class="tag-suggestion" title="This push request can only be pushed through stageb.">stageb</span>
	</p>

	<label for="request-form-review">Review #</label>
	<input name="request-review" id="request-form-review" />

	<label for="request-form-repo">Repo</label>
	<input name="request-repo" id="request-form-repo" {% if current_user %}value="{{ escape(current_user) }}" {% end %}/>

	<label for="request-form-branch">Branch</label>
	<input name="request-branch" id="request-form-branch" />

	<label for="request-form-description">Merge Commit Message</label>
	<textarea name="request-description" id="request-form-description"></textarea>

	<p>(The above is used for the merge commit message in master. If no description is specified, defaults to the request title.)</p>

	<label for="request-form-comments">Comments</label>
	<textarea name="request-comments" id="request-form-comments"></textarea>

	<label for="request-form-watchers">Additional Watchers (comma separated)</label>
	<input name="request-watchers" id="request-form-watchers" />

	<label for="request-form-takeover" id="request-form-takeover-label">
		<input type="checkbox" name="request-takeover" id="request-form-takeover" value="takeover" style="display: inline; width: 5%" />
		This request is not yours. Check to take ownership.
	</label>

	<input type="hidden" name="request-user" id="request-form-user" value="" />
	<input type="hidden" name="request-id" id="request-form-id" value="" />

	<input type="submit" id="request-form-submit" name="request-submit" value="Submit Request" />
</fieldset>
</form>
<!-- END 'NEW PUSH REQUEST' DIALOG -->
</div>
